<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="IntervaloMilisegundos" value="60000"/>
    <add key="NombreLog" value="CuadreContable"/>
    <add key="pathLog" value="C:\Desarrollos\Andalucia\ProyectoAndalucia\WinSvcAndaluciaCuadre\Log\"/>
    <add key="NroAplicacion" value="1"/>
    <add key="horaEjecucion" value="15:09" />
  </appSettings>
 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_ICargaDatosSvc" closeTimeout="03:00:00"
          openTimeout="03:00:00" receiveTimeout="03:00:00" sendTimeout="03:00:00"
          maxBufferPoolSize="50000000" maxReceivedMessageSize="50000000"/>
    <binding name="BasicHttpBinding_INotificador" closeTimeout="01:00:00"
          openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00"
          maxBufferPoolSize="50000000" maxReceivedMessageSize="50000000"/>
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://localhost:65024/SVC/CargaDatosSvc.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICargaDatosSvc"
    contract="CargarDatosSvc.ICargaDatosSvc" name="BasicHttpBinding_ICargaDatosSvc" />
   <endpoint address="http://localhost:55202/Notificador.svc" binding="basicHttpBinding"
    bindingConfiguration="BasicHttpBinding_INotificador" contract="SvcEnviarCorreo.INotificador"
    name="BasicHttpBinding_INotificador" />
  </client>
 </system.serviceModel>
</configuration>